appdirs==1.4.4
fastparquet==2026.5.0
nfl_data_py==0.3.3
numpy==2.4.6
packaging==26.2
pandas==3.0.3
psycopg2-binary==2.9.12
pyarrow==24.0.0
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
wheel==0.47.0
